.banner {
  position: relative;
  object-fit: contain;
  color: white;
  min-height: 430px;
  mix-blend-mode: difference;
  overflow: hidden;
}

.banner-contents {
  margin-left: 30px;
  padding-top: 170px;
}

.banner-title {
  display: inline-block;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  cursor: pointer;
}

.banner-title:hover {
  color: #e50914;
}

.banner--fadebottom {
  height: 6.8rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner-buttons {
  display: flex;
  flex-wrap: wrap;
}

.upvote-percentage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 0 10px;
}

.upvote-percentage > p {
  font-size: 1.5vw;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

.upvote-percentage > p > span {
  color: #e50914;
  font-weight: bold;
}

.banner-button {
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
  font-size: 18px;
  text-align: center;
}

.banner-button:hover {
  color: #000;
  background-color: rgba(225, 225, 225, 0.5);
  transition: all 0.3s;
}

.back-button {
  position: absolute;
  left: 40%;
  bottom: 50%;
  transform: translateY(50%);
  color: black;
  background: none;
  outline: none;
  opacity: 0.2;
  border: none;
  transition: opacity 0.3s, transform 0.3s;
}

.back-button:hover {
  opacity: 0.7;
}

.next-button {
  position: absolute;
  right: 40%;
  bottom: 50%;
  transform: translateY(50%);
  color: black;
  background: none;
  border: none;
  outline: none;
  opacity: 0.2;
  transition: opacity 0.3s, transform 0.3s;
}

.next-button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .banner-buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .banner-button {
    margin-top: 0.5rem;
  }

  .banner-title {
    display: inline-block;
    font-size: 2rem;
  }
}
