.title-page-container {
  height: 100vh;
}

.title-view-container {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  height: 100vh;
  display: flex;
  mix-blend-mode: difference;
}

.title-view-contents {
  margin-top: 100px;
  margin-left: 30px;
  flex: 1;
}

.title-view-category {
  font-size: 20px;
}

.title-view-title {
  display: inline-block;
  font-size: 4.7vw;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.title-view-synopsis {
  width: 60%;
  font-size: 2vw;
}

.title-view-genre {
  margin: 30px 0 0 0;
  font-size: 1.5vw;
}

.title-view-buttons {
  margin-top: 2rem;
}

.title-view-button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 0.5vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.title-view-button:hover {
  color: #000;
  background-color: rgba(225, 225, 225, 0.5);
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .title-view-buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .title-view-button {
    margin-top: 0.5rem;
  }

  .title-view-synopsis {
    width: 100%;
  }
}
