@import url("https://fonts.googleapis.com/css2?family=Netflix+Sans&display=swap");

.logo-wrapper {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: "Netflix Sans", sans-serif;
  color: #e50914;
  text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.427);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  transition: transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  animation: logo-show 0.5s;
}

.letter {
  font-weight: bold;
  margin-right: 5px;
  font-size: 2.5rem;
}

.letter:hover {
  animation: flicker 0.3s infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes logo-show {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .logo {
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-top: 2px;
    padding-left: 10px;
  }

  .letter {
    font-weight: bold;
    margin-right: 5px;
  }

  #letter-4 {
    display: none;
  }

  #letter-5 {
    display: none;
  }

  #letter-6 {
    display: none;
  }
}
