.password-modal-title-contianer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.password-modal-title-contianer > h2 {
  font-weight: bold;
}

.password-rules-lists {
  padding: 0;
  margin-left: 10px;
}

.password-rules-lists > li {
  margin-bottom: 8px;
  font-weight: 500;
}

.reset-close-icon {
  position: relative;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  z-index: 10000;
}

.reset-close-icon:hover,
.reset-close-icon:active {
  outline: none;
  border: none;

  transform: scale(1.5);
  -webkit-tap-highlight-color: transparent;
}
