.search-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.search-input {
  border: 2px solid #e50914;
  border-radius: 100px;
  background: transparent;
  outline: none;
  width: 50%;
  height: 45px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
  margin-left: 10px;
  padding: 0 20px;
}

.search-input::placeholder {
  color: #e50914;
  font-weight: 500;
}

.search-input.focused {
  width: 100%;
  border: 2px solid #aaa;
}

.search-input.focused::placeholder {
  color: #fff;
  font-weight: 500;
}

.clear-search {
  margin: 0 0 0 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.clear-search.visible {
  opacity: 1;
}
