*::-webkit-scrollbar {
  display: none;
}

.reset-page-layout {
  user-select: none;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0,

      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../../../../public/images/background-images/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.reset-logo-container {
  padding-top: 10px;
}

.reset-form-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.reset-form-content {
  background: rgba(0, 0, 0, 0.68);
  padding: 30px 68px 40px;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  box-sizing: border-box;
}

.reset-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.reset-form-content > .reset-title-wrapper > h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.reset-close-icon:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: transform 0.3s ease-in-out;
}

.reset-form {
  display: flex;
  flex-direction: column;
}

.reset-form-content > form > input {
  outline-width: 0;
  height: 50px;
  line-height: 50px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 0;
  padding: 5px 15px;
  background: #333;
  color: #fff;
}

.reset-form-content > form > button {
  margin: 24px 0 12px;
  font-size: 16px;
  line-height: 1em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 16px;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
}

.reset-form-content > form > button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-message {
  color: green;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px 3px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.reset-error {
  color: #e87c03;
  margin-top: 0;
  margin-bottom: -6px;
  padding: 6px 3px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.password-modal-info:hover {
  cursor: help;
  transform: scale(1.08);
  transition: transform 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  *::-webkit-scrollbar {
    display: none;
  }
  .reset-page-layout {
    background-color: #000;
    background-image: none;
    min-width: 100vw;
    min-height: 100vh;
  }

  .reset-form-wrapper {
    margin: 0;
  }

  .reset-form-content {
    width: 100%;
    padding: 0 5%;
  }

  .reset-form-content > form > input {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .reset-page-layout {
    min-width: 100vw;
    min-height: 100vh;
  }

  .reset-form-wrapper {
    max-width: 450px;
  }
}
