.message-page {
  position: relative;
  height: 100vh;
  background-color: #111;
}

.message-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: #e50914;
  padding: 0 20px;
}
