.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
  transition-timing-function: ease-in;
  transition: all 0.3s;
}

@keyframes navbarShow {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav_black {
  background-color: #111111b0;
  animation: navbarShow 0.3s ease-in;
}

.nav_contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}

.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  cursor: pointer;
  object-fit: contain;
  width: 22%;
}

.nav-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-right: 20px;
}

.nav-search-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
  outline: none;
}

.nav-search-link > p:hover {
  color: #e50914;
  border-bottom: 2px solid #e50914;
  padding-bottom: 5px;
}

.nav-search-link > p {
  margin: 0 0 0 10px;
  color: #e50914;
  font-size: 18px;
  font-weight: 600;
}

.nav_link {
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-init {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e50914;
  text-decoration: none;
  border-radius: 50%;
}

.user-init > p {
  margin: 0;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  mix-blend-mode: multiply;
}

@media (max-width: 768px) {
  .user-init > p {
    width: 15%;
  }

  .navbar {
    height: 60px;
  }

  .nav_logo {
    width: 18%;
    padding-left: 20px;
  }

  .nav_link {
    margin-right: 10px;
  }

  .nav-search-link > p {
    display: none;
  }
}
