.video-player {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.player-wrapper {
  position: relative;
  margin: 80px 0 0 0;
  overflow: hidden;
  outline: none;
}

.player {
  width: 98.5%;
  height: 98%;
  aspect-ratio: 16/9;
  object-fit: contain;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #e50914;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  z-index: 0;
  outline: none;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.player-controls {
  position: absolute;
  height: 30px;
  top: 3px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 25px;
}

.player-controls.visible {
  opacity: 1;
}

.player-controls > .video-page-title {
  font-size: 2vw;
  font-weight: 700;
  margin: 0;
  flex: 1;
}

.player-controls > .custom-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1.5;
}

#myPlayerWrapper {
  margin: 0;
}

#myPlayerWrapper > .player-controls > .video-page-title {
  display: none;
}

#myPlayerWrapper > .player-controls {
  position: absolute;
  height: 30px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#myPlayer {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}
